[Unit]
Description = Cart Service
[Service]
User=roboshop
Environment=REDIS_HOST=redis.myprojecdevops.info
Environment=CATALOGUE_HOST=catalogue.myprojecdevops.info:8080
ExecStart=/bin/node /app/server.js
SyslogIdentifier=cart

[Install]
WantedBy=multi-user.target